.Articles-container {
  a {
    text-decoration: none;
  }

  button {
    padding: var(--size-100);
    font-size: var(--fs-400);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: #d1d1d1;
    }
    &.delete {
      padding: 0;
      color: rgb(0, 0, 238);
      background-color: transparent;
    }
  }

  ul.articles {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      display: flex;
      gap: var(--size-400);
      align-items: center;
      flex-wrap: wrap;

      div {
        margin-left:auto;
        span, a, button {
          padding-left: var(--size-400)
        }
      }

      h5 {
        margin-right: auto;
      }
    }
  }

  .add-new {
    margin-top: var(--size-400);
  }
}
