// components/Footer.scss
.footer {
  background-color: #f5f5f5;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #555;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}