.pagination {
  display: flex;
  justify-content: center;
  margin: 50px 0;

  button {
    padding: 0.6rem;
    font-size: var(--fs-400);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    color: black;

    &:hover {
      background-color: transparent;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &.active {
     color:red;
    }
  }
}