:root {
  --ff-primary: Roboto, "Helvetica Neue", sans-serif;

  /* Colors */
  --bgc-transparent: rgba(0, 0, 0, 0.4);
  --bgc-dark-mode: rgba(0, 0, 0, 0.8);

  --color-primary: #2a76d2;
  --color-primary-dark: #173760;

  --color-danger: #ef4444;
  --color-danger-dark: #a71313;
  --color-danger-bg: #3c0505;

  --color-bg-light: #f8fafc;
  --color-bg-lighter: #ededed;

  --color-border: #d1d5db;
  --color-border-light: #e5e7eb;

  --color-text-dark: #1f2937;
  --color-text-gray: #374151;
  --color-text-light: #6b7280;

  /* shadows */
   --focus-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);

  /* Font Sizes */
  --fs-100: 0.7rem;
  --fs-200: 0.8125rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 1.5rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  /* Spacing */
  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;

  /* Screens */
  --maxw-handy: 428px;
  --maxh-handy: 926px;
}
