.Blogs-container, .newsList-container {
  a {
    text-decoration: none;
  }

  button {
    padding: var(--size-200);
    font-size: var(--fs-400);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color-primary);
    color: white;
    user-select: none;

    &:hover {
      background-color: #003860;
    }
    &.delete {
      padding: 0;
      color: rgb(0, 0, 238);
      background-color: transparent;
    }
  }

  ul.blogs, ul.news-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      display: flex;
      gap: var(--size-400);
      align-items: center;
      flex-wrap: wrap;

      h5 {
        margin-right: auto;
      }
    }
  }

  div.add-blog {
    margin-top: var(--size-400);
  }
}
