.Blogs-container {
  a {
    text-decoration: none;
  }

  button {
    padding: var(--size-200);
    font-size: var(--fs-400);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color-primary);
    color: white;
    user-select: none;

    &:hover {
      background-color: #003860;
    }
    &.delete {
      padding-block: 0;
      color:rgb(0, 0, 238);
      background-color: transparent;
    }
  }

  ul.blogs {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      display: flex;
      align-items: center;
    }

    .update-date, .blog-info {
      margin-left: auto;
      margin-right: var(--size-200)
    }

    .blog-info {
      span {
        margin-left: var(--size-600)
      }
    }
  }

  div.add-blog {
    margin-top: var(--size-400);
  }
}
