// 变量定义
$breakpoint-sm: 599px;
$book-cover-width: 150px;
$line-number: 9;

.BannedBooks {
  a {
    text-underline-offset: var(--size-100);
  }

  li {
    padding-block: var(--size-400);
    border-bottom: 1px solid var(--color-border);
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .book-item {
    display: flex;
    gap: var(--size-400);
  }

  .book-cover img {
    width: $book-cover-width;
    min-width: $book-cover-width;
    margin-bottom: var(--size-100);
  }

  .book-intro {
    font-size: var(--fs-300);
    gap: var(--size-100);
  }

  .book-info {
    padding-left: var(--size-500);
    border-left: 1px solid var(--color-border);
    gap: var(--size-400);

    & > p {
      display: flex;
      gap: var(--size-700);
    }

    article {
      .book-summary {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
        line-height: 1.6;

        -webkit-line-clamp: $line-number; /* Chrome/Safari */
        line-clamp: $line-number; /* 标准属性，未来兼容 */

        line-height: 1.5em;

        &.expanded {
          display: block;
          height: auto;
        }
      }

      button {
        color: rgb(85, 26, 139);
        text-decoration: underline;
        text-underline-offset: var(--size-100);
        width: fit-content;
        margin-left: auto;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }

  .book-review {
    display: flex;
    gap: var(--size-500);

    p {
      color: var(--color-primary);
    }
    span {
      color: #f24e01;
    }
  }

  .book-name {
    font-weight: 500;
    color: var(--color-primary);
  }

  .book-stars {
    display: flex;
    align-items: center;
    img {
      width: var(--size-400);
      height: var(--size-400);
    }
  }

  // 小屏幕适配
  @media (max-width: $breakpoint-sm) {
    .book-item {
      flex-direction: column;
    }

    .book-cover {
      display: flex;
      gap: var(--size-600);
    }

    .book-intro {
      font-size: var(--fs-400);
    }

    .book-info {
      padding: 0;
      border: none;
    }
  }
}
