.Blog {
  display: flex;
  flex-direction: column;
  gap: var(--size-400);
  text-align: center;

  a {
    text-decoration: none;
  }

  .title {
    font-weight: bold;
  }

  .author {
    margin-right: var(--size-600);
  }

  .article-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: var(--size-200);

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }

    img {
      width: 50%;
      margin: 0 auto;
    }

    h5 {
      font-weight: bold;
    }

    p.image-caption {
      width: 50%;
      margin: 0 auto;
      font-size: 0.9rem;
      color: #666;
      font-style: italic;
    }
  }

  .back-to {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
}

.blogError {
  text-align: center;
  color: red;
}
