.Blog {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;

  a {
    text-decoration: none;
  }

  textarea {
    padding: var(--size-200);
    width: 100%;
    resize: none;
  }

  .title {
    font-weight: bold;
    margin-bottom: var(--size-200);
  }

  .author {
    margin-right: var(--size-600);
  }

  .article-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: var(--size-200);

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }

    img {
      width: 50%;
      margin: 0 auto;
    }

    h5 {
      font-weight: bold;
    }

    p.image-caption {
      width: 50%;
      margin: 0 auto;
      font-size: 0.9rem;
      color: #666;
      font-style: italic;
    }
  }

  .comments-form {
    display: flex;
    flex-direction: column;
    gap: var(--size-400);
    text-align: left;

    .title {
      background-color: #f5f5f5;
      padding: var(--size-300);
    }

    button {
      padding: 2px 5px;
      margin-left: auto;
      width: fit-content;
    }
  }

  .show-commnents {
    display: flex;
    flex-direction: column;
    gap: var(--size-400);
    text-align: left;

    textarea {
      border: none;
    }

    .comment-author {
      background-color: #f5f5f5;
      padding: 2px 5px;
    }

    .button-container {
      display: flex;
      justify-content: right;
      button {
        padding: 2px 5px;
        margin-left: var(--size-400);
      }
    }
  }

  .back-to {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
}

.blogError {
  text-align: center;
  color: red;
}
