.Blog {
  display: flex;
  flex-direction: column;
  gap: var(--size-400);
  text-align: center;

  .author {
    margin-right: var(--size-400);
  }

  .article-content {
    text-align: left;
  }
}

.blogError {
  text-align: center;
  color: red;
}
