.Blogs-container {
  a {
    text-decoration: none;
  }

  button {
    padding: 0.6rem;
    font-size: var(--fs-400);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #2a76d2;
    color: white;

    &:hover {
      background-color: #003860;
    }
  }

  ul.blogs {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      display: flex;
      align-items: center;
    }

    li > a,
    button {
      padding: 0.6rem;
      font-size: var(--fs-400);
      border: none;
      border-radius: 4px;
      cursor: pointer;
      background-color: #2a76d2;
      color: white;

      &:hover {
        background-color: #003860;
      }
      margin-left: var(--size-400);
    }

    .update-date, .blog-info {
      margin-left: auto;
    }

    .blog-info {
      span {
        margin-left: var(--size-600)
      }
    }
  }

  div.add-blog {
    margin-top: var(--size-400);
  }
}
