.MyBlogs {
  a {
    text-decoration: none;
  }
  ul {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  button {
    padding: 0.6rem;
    font-size: var(--fs-400);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #2a76d2;
    color: white;

    &:hover {
      background-color: #003860;
    }
  }
}
