.NewBlog {
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--size-400);
  height: 100%;

  h4 {
    margin-top: 50px;
    text-align: center;
  }

  input[type="text"] {
    padding: var(--size-200);
    font-size: var(--fs-400);
  }

  .editor {
    border: 1px solid #ccc;
    padding: var(--size-200);
    display: flex;
    flex-direction: column;

    .editor-toolbar {
      display: flex;
      gap: var(--size-200);
      margin-bottom: var(--size-200);

      svg {
        font-size: var(--fs-500);
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
        transition: background-color 0.2s;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }

    .ProseMirror {
      min-height: 350px;
      padding: var(--size-200);
      border: 1px solid #eee;
    }

    .ProseMirror strong {
      font-weight: bold;
    }
    .ProseMirror em {
      font-style: italic;
    }
  }

  .feedback {
    font-weight: bold;
    color: green;

    &.error {
      color: red;
    }
  }

  button[type="submit"] {
    background-color: #f5f5f5;
    padding: var(--size-300);
    font-size: var(--fs-400);
    cursor: pointer;
    border: none;
    transition: background-color 0.2s;

    &:hover {
      background-color: #cecece;
    }
  }
}
