.register {
  width: 320px;
  margin: 50px auto;
  padding: 2rem;
  border: 1px solid #aaa;
  border-radius: 8px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
    padding: 0.5rem;
    font-size: var(--fs-400);
    border: 1px solid #aaa;
    border-radius: 4px;
  }

  button {
    padding: 0.6rem;
    font-size: var(--fs-400);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &.login-link {
      background: none;
      color: #2A76D2;
      text-decoration: underline;
      padding: 0;
      font-size: var(--fs-400);
    }

    &:not(.login-link) {
      background-color: #2A76D2;
      color: white;

      &:hover {
        background-color: #003860;
      }
    }
  }
}