// @use "tailwindcss";
@use "./base/variables";
@use "./base/reset";
@use "./base/typography";

/* global layout */
.app-container {
  min-height: 100svh;
  max-width: 1000px;
  min-width: 350px;
  margin: 0 auto;
  padding-inline: var(--size-500);
  display: flex;
  flex-direction: column;
}

.children {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
